.row
  .col-md-2
    .list-group
      = link_to "Create Profile", new_profile_path, class: 'list-group-item'
      %a.list-group-item Sidebar2
      %a.list-group-item Sidebar3
      %a.list-group-item Sidebar4
      %a.list-group-item Sidebar5
      %a.list-group-item Sidebar6
      %a.list-group-item Sidebar7
  .col-md-10
         

  