.row
  .col-md-2
    .list-group
      %a.list-group-item Sidebar1
      %a.list-group-item Sidebar2
      %a.list-group-item Sidebar3
      %a.list-group-item Sidebar4
      %a.list-group-item Sidebar5
      %a.list-group-item Sidebar6
      %a.list-group-item Sidebar7
  .col-md-10
         

  